.ipynb_checkpoints/
db_dump/
resource/
fluent.bat
fluent.py
launch_env.bat
weather_api.ipynb

src/data_collector/api.ipynb
src/data_collector/analytics.ipynb
src/data_collector/.ipynb_checkpoints/

src/data_collector/client/client.bat
src/data_collector/client/__pycache__/
src/data_collector/server/__pycache__/
src/data_collector/server/server.bat
src/data_collector/server/.env



